<div class="container mt-4 bg-light shadow" style="width: 80%; height: 100vh;">
  <div class="container">
    <div class="row justify-content-evenly p-3 ">
      <div class="col-6 col-sm-4 bg-info shadow">.col-6 .col-sm-4</div>
      <div class="col-6 col-sm-4 bg-info shadow" style="height: 30vh;">.col-6 .col-sm-4</div>
  
      <!-- Force next columns to break to new line at md breakpoint and up -->
      <div class="w-100 d-none d-md-block"></div>
  
      <div class="col-6 col-sm-4 bg-info shadow">.col-6 .col-sm-4</div>
      <div class="col-6 col-sm-4 bg-info shadow">.col-6 .col-sm-4</div>
    </div>
  </div>
</div>